<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewsAPITester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>676179371F0BCE2400E59AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6761794B1F0BCE2400E59AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676179561F0BCE2400E59AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
